Django==1.8.6
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==1.0.1
django-compressor==1.5
djangorestframework==3.3.1
drf-nested-routers==0.10.0
gunicorn==19.3.0
six==1.10.0
static3==0.6.1
wsgiref==0.1.2
